<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      
        <div class="form-group">
          <label for="nome">Empresa: </label>
          <input type="text" [(ngModel)]="empresamodel.nome" 
            class="form-control" id="nome" name="nome" placeholder="Nome da Empresa"
            required #nome="ngModel">
        </div>
        <div [hidden]="!nome.pristine" class="alert alert-danger">Campo Obrigatório</div>

        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Enviar</button>
      </form>
    </div>
  </div>

