<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/pessoas" class="btn btn-info">Vendedores</a></li>
            <li class="list-inline-item"><a routerLink="/passeios" class="btn btn-info">Passeios</a></li>
            <li class="list-inline-item"><a routerLink="/addpass" class="btn btn-info">Add passeios </a></li>
            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Add Vendedores </a></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>