<div class="jumbotron text-center ">


    <h4 class="card-title text-center text-black py-3">{{ title }}</h4>


    <ul class="text-center list-inline py-3">

        <li class="list-inline-item "><a routerLink="/pessoas" class="btn btn-outline-secondary">Vendedores</a></li>
        <li class="list-inline-item"><a routerLink="/passeios" class="btn btn-outline-secondary">Passeios</a></li>
        <li class="list-inline-item"><a routerLink="/carros" class="btn btn-outline-secondary">Carros</a></li>
        <li class="list-inline-item"><a routerLink="/empresas" class="btn btn-outline-secondary">Empresas</a></li>


        <li class="list-inline-item"><a routerLink="/addpass" class="btn btn-outline-secondary"> Passeio </a></li>
        <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-outline-secondary"> Vendedor </a></li>
        <li class="list-inline-item"><a routerLink="/addcar" class="btn btn-outline-secondary">Carro </a></li>
        <li class="list-inline-item"><a routerLink="/addcompany" class="btn btn-outline-secondary">Empresa </a></li>
      </ul>
  </div>

<div class="container">
  <div class="row">

      <div class="col-md-12">
   
      <router-outlet></router-outlet>
    
</div>



  </div>
</div>