<div class="jumbotron text-center">


    <h1 class="card-title text-center text-black py-3">{{ title }}</h1>
    <h3 class="card-title text-center text-black py-3">Sistema Gerenciador de Reservas</h3>

    <ul class="text-center list-inline py-3">

        <li class="list-inline-item "><a routerLink="/pessoas" class="btn btn-link text-dark">Vendedores</a></li>
        <li class="list-inline-item"><a routerLink="/passeios" class="btn btn-link text-dark">Passeios</a></li>
        <li class="list-inline-item"><a routerLink="/carros" class="btn btn-link text-dark">Carros</a></li>
        <li class="list-inline-item"><a routerLink="/empresas" class="btn btn-link text-dark">Empresa</a></li>

        <li class="list-inline-item"><a routerLink="/addpass" class="btn btn-link text-dark">+ passeios </a></li>
        <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-link text-dark">+ Vendedores </a></li>
        <li class="list-inline-item"><a routerLink="/addcar" class="btn btn-link text-dark">+ Carros </a></li>
        <li class="list-inline-item"><a routerLink="/addenterprise" class="btn btn-link text-dark">+ Empresa </a></li>
      </ul>
  </div>

<div class="container">
  <div class="row">

      <div class="col-md-12">
   
      <router-outlet></router-outlet>
    
</div>



  </div>
</div>