<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-success">
          <tr>
            <th scope="col">Id:</th>
            <th scope="col">Nome:</th>
            <th scope="col">valor:</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passeiomodel of passeios">
            <td>{{ passeiomodel.id_passeio}}</td>
            <td>{{ passeiomodel.nome_passeio }}</td>
            <td>{{ passeiomodel.valor_passeio}}</td>

            <td><button (click)="excluir(passeiomodel.id_passeio)">Delete</button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>