<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-active">
          <tr>
              <th scope="col">Id:</th>
            <th scope="col">Nome:</th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresamodel of empresas">
            <td>{{ empresamodel.id_empresa}}</td>
            <td>{{ empresamodel.nome }}</td>


            <td><button (click)="excluir(empresamodel.id_empresa)">Delete</button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>