<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-active">
          <tr>
            <th scope="col">Identificacao:</th>
            <th scope="col">Modelo:</th>
            <th scope="col">Quantidade Vagas:</th>
            <th scope="col">Quantidade Livre:</th>
            <th scope="col">Empresa:</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carromodel of carros">
            <td>{{ carromodel.id_Carro}}</td>
            <td>{{ carromodel.modelo }}</td>
            <td>{{ carromodel.quantidade_Vagas}}</td>
            <td>{{ carromodel.quantidade_Livre}}</td>
            <td>{{ carromodel.empresa_id}}</td>

            <td><button (click)="excluir(carromodel.id_Carro)">Delete</button></td>


          </tr>
        </tbody>
      </table>
    </div>
  </div>